* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: rgb(248, 248, 255);
  position: relative;
  height: max-content;
}

nav {
  padding: 5px 15px;
  background-color: white;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul li:nth-child(2) {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
nav ul li:nth-child(2) img {
  width: 50px;
}
nav ul li:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul li:first-child h1 {
  cursor: pointer;
  font-size: xx-large;
  transform: rotate(-25deg);
}
nav ul li:nth-child(2) h1 {
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li:last-child {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
nav ul li:last-child div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav ul li:last-child div h2 {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav ul li:last-child div p {
  font-size: small;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li:last-child img {
  width: 45px;
  margin-left: 10px;
  border-radius: 50%;
}
nav ul li div.logout {
  display: none;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 0 0 1px 1px;
  position: absolute;
  top: 57px;
  right: 10px;
  transform: translateY(-5px);
}
nav ul li div.logout button {
  padding: 5px 0;
}
nav ul li div.logout button:hover {
  background-color: rgb(182, 182, 182);
}

nav ul li div.logout a {
  color: black;
  text-decoration: none;
}
header {
  width: 90%;
  background-color: white;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.2), -2px -1px 3px rgba(0, 0, 0, 0.2);
  margin: 0px auto 20px auto;
  padding: 10px;
  border-radius: 3px;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header ul li {
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s;
}
header ul li i {
  margin-right: 5px;
}
header ul li:hover {
  color: white;
  background-color: blueviolet;
  box-shadow: 1px 1px 3px rgb(209, 160, 255), -1px -1px 3px rgb(209, 160, 255);
}

header ul li.on {
  color: white;
  background-color: blueviolet;
  box-shadow: 1px 1px 3px rgb(209, 160, 255), -1px -1px 3px rgb(209, 160, 255);
}

footer {
  margin: 20px 0 0 4%;
  font-size: xx-small;
}
footer h2 a {
  color: blueviolet;
  transition: all 0.3s;
}
footer h2 a:hover {
  text-decoration: underline;
}

nav ul li button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0 10px;
  cursor: pointer;
}
nav ul li button span {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px 0;
  background-color: grey;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  nav {
    padding: 3px;
  }
  nav ul li h1#darkmode {
    font-size: x-large;
  }
  nav ul li div h2 {
    font-size: small !important;
  }
  nav ul li div p {
    font-size: x-small !important;
  }
  nav ul li img {
    width: 35px !important;
    margin-left: 5px !important;
  }
  nav ul li h1.title {
    text-align: center;
    font-size: medium;
  }
  header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }
  header ul {
    display: block;
  }

  main {
    grid-template-columns: 1fr !important;
  }
  main .about-E-perpus {
    margin-top: 20px;
    margin-left: 0 !important;
  }
  main .list-creator img {
    height: 30% !;
  }
  main .about-E-perpus img {
    width: 80% !important;
    height: 30%;
  }
  main .about-E-perpus ul li.title h1,
  main .list-creator ul li.title h1 {
    font-size: large !important;
  }

  main .about-E-perpus ul li p {
    width: 90% !important;
    font-size: medium;
  }

  footer h2 {
    font-size: x-small;
  }
}
