@import url('../../Assets/assets.css');

main .content-wrapper .content .download {
  background-color: var(--orange);
  box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.3);
  padding: 5px 20px;
  border-radius: 5px;
  width: max-content;
  margin-bottom: 15px;
  transition: all 0.3s;
  cursor: pointer;
}
main .content-wrapper .content .download button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.content-wrapper .content .download button,
.content-wrapper .content .download button i {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.content-wrapper .content .download h3 i {
  margin-right: 10px;
}

.content-wrapper .content .download:hover {
  background-color: var(--orange-h);
}

.content-wrapper .content .card-wrapper {
  max-width: 100%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.content-wrapper .content .card-wrapper a {
  width: max-content;
}
.content-wrapper .content .card-wrapper button.tambah {
  width: max-content;
  display: flex;
  align-items: center;
  background-color: var(--lightgreen);
  box-shadow: var(--bs-0-6);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.content-wrapper .content .card-wrapper #opsi {
  width: max-content;
  padding: 3px;
  background-color: var(--purple);
  color: white;
  border-radius: 5px;
}
.content-wrapper .content .card-wrapper button.tambah i {
  margin-right: 5px;
}
.content-wrapper .content .card-wrapper button.tambah:hover {
  background-color: var(--lightgreen-h);
}
.content-wrapper .content .card-wrapper .data-wrapper .data-indicator {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 10px 0;
}
.content-wrapper
  .content
  .card-wrapper
  .data-wrapper
  .data-indicator
  .data-entries {
  display: flex;
  align-items: center;
}
.content-wrapper
  .content
  .card-wrapper
  .data-wrapper
  .data-indicator
  .data-entries
  select {
  margin: 0 5px;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid grey;
}
.content-wrapper
  .content
  .card-wrapper
  .data-wrapper
  .data-indicator
  .data-search
  input {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid grey;
}

/* isi data */
.content-wrapper .content .card-wrapper .isi-data table {
  text-align: center;
  border-collapse: collapse;
}
.content-wrapper .content .card-wrapper .isi-data table thead tr th {
  background-color: rgb(197, 197, 197);
  color: rgb(43, 43, 43);
  padding: 10px 5px;
  border-bottom: 2px solid grey;
}
.content-wrapper .content .card-wrapper .isi-data table tbody tr td {
  padding: 20px 0;
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  table
  tbody
  tr:nth-child(even) {
  background-color: rgba(197, 197, 197, 0.678);
}
.content-wrapper .content .card-wrapper .isi-data table tbody tr td.limit {
  width: 16%;
  overflow-wrap: anywhere;
  text-align: left;
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  table
  tbody
  tr
  td
  i.fa-pen-to-square,
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  table
  tbody
  tr
  td
  i.fa-delete-left {
  color: white;
  font-size: small;
  padding: 8px;
  border-radius: 5px;
  transform: translateY(3px);
  transition: all 0.3s;
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  table
  tbody
  tr
  td
  i.fa-pen-to-square {
  background-color: var(--purple);
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  table
  tbody
  tr
  td
  i.fa-delete-left {
  background-color: var(--red);
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  table
  tbody
  tr
  td
  i.fa-pen-to-square:hover {
  background-color: var(--purple-h);
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  table
  tbody
  tr
  td
  i.fa-delete-left:hover {
  background-color: var(--red-h);
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  .data
  table
  tbody
  tr
  td
  button {
  width: max-content;
  margin-top: 10px !important;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background-color: var(--purple);
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
}
.content-wrapper
.content
.card-wrapper
.isi-data
.data
table
tbody
tr
td
button.edit{
  padding: 0 !important;
  margin: 0 !important;
}
.content
.card-wrapper
.isi-data
.data
table
tbody
tr
td
button.edit i{
  padding-top: 5px;
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  .data
  table
  tbody
  tr
  td
  button:hover {
  background-color: var(--purple-h);
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  .data
  table
  tbody
  tr
  td
  button.delete {
  width: max-content;
  margin: 0 !important;
  padding: 0;
  border-radius: 0;
  background-color: rgba(114, 103, 240, 0) !important;
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  .data
  table
  tbody
  tr
  td
  button
  i.fa-chart-simple {
  color: white;
  margin-right: 5px;
  transform: rotate(90deg);
}

.content-wrapper .content .card-wrapper .isi-data .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.content-wrapper .content .card-wrapper .isi-data .description .pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(197, 197, 197, 0.678);
  color: #ffffff;
  border-radius: 15px;
  padding: 0 5px;
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  .description
  .pagination
  p.amount-of-data {
  background-color: var(--purple);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
  margin: 0 5px;
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  .description
  .pagination
  button {
  background: none;
  border: none;
  cursor: pointer;
  color: #515151;
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  .description
  .pagination
  button
  i.fa-angle-left {
  transform: translate(3px, 1px);
}
.content-wrapper
  .content
  .card-wrapper
  .isi-data
  .description
  .pagination
  button
  i.fa-angle-right {
  transform: translate(-3px, 1px);
}


/* persetujuan */
.card-wrapper .isi-data .data table tbody tr td button.o{
  margin: 0 !important;
  width: auto !important;
  background-color: transparent!important;
  color: var(--orange) !important;
  border: 1px solid var(--orange) !important;
  padding: 5px 3px !important;
}
.card-wrapper .isi-data .data table tbody tr td button.o i{
  color: var(--orange);
}
.card-wrapper .isi-data .data table tbody tr td button.o:hover,
.card-wrapper .isi-data .data table tbody tr td button.o:hover i{
  color: white !important;
  background-color: var(--orange) !important;
}
.card-wrapper .isi-data .data table tbody tr td p.g,
.card-wrapper .isi-data .data table tbody tr td p.r{
  border-radius: 3px !important;
  padding: 5px 3px !important;
}
.card-wrapper .isi-data .data table tbody tr td p.g{
  color: var(--lightgreen) !important;
  border: 1px solid var(--lightgreen) !important;
}
.card-wrapper .isi-data .data table tbody tr td p.g i{
  color: var(--lightgreen) !important;
}
.card-wrapper .isi-data .data table tbody tr td p.r{
  color: var(--red);
  border: 1px solid var(--red);
}
.card-wrapper .isi-data .data table tbody tr td p.r i{
  color: var(--red);
}


/* information style */
.information{
  width: 100%;
  background-color: rgb(231,229,247);
  padding: 3px 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}
.information ul{
  list-style-type:decimal;
  padding: 10px 10px 10px 23px;
}
.information h3{
  font-family: Arial, Helvetica, sans-serif;
}
.information h3,
.information ul li,
.information button i,
.information ul li p strong{
  color: rgb(106, 94, 233);
}
.information ul li p{
  color: var(--purple);
}
.information button{
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: -3px;
  right: -3px;
}
.information button{
  font-size: medium;
}